<footer class="c-page__footer">
	<p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
	{% if page.layout != 'amp' %}
	</br>
	{% endif %}
	<p>{% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% endif %}<span> / </span>
		{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}<span> / </span>
		{% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">Linkedin</a>{% endif %}<span> / </span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
</footer>
